<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mt-3">
    <%= form.label :title, class: 'label' %>
    <%= form.text_field :title, class: 'form-control', style: 'height: 3em' %>
  </div>

  <div class="field mt-3">
    <%= form.label :body, class: 'label' %>
    <%= form.text_area :body, class: 'form-control', style: 'height: 15em' %>
  </div>

  <div class="actions mt-3">
    <%= form.submit 'Submit Post', class: 'btn btn-purple' %>
  </div>
<% end %>
