<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mt-3 mb-5">
    <%= form.label :title, 'Post Heading', class: 'label text-purple mb-3', style: 'font-family: "PT Serif", serif; font-size: 20px;' %>
    <%= form.text_field :title, placeholder: 'Enter title', class: 'form-control rounded-0 text-muted input', style: 'font-family: "PT Serif", serif;' %>
  </div>

  <div class="field mt-3">
    <%= form.label :body, 'Tell your story', class: 'label text-purple mb-3', style: 'font-family: "PT Serif", serif; font-size: 20px;' %>
    <%= form.text_area :body, placeholder: 'Once upon a time...', class: 'form-control rounded-0 text-muted', style: 'height: 400px; font-size: 18px; border: none; border-left: 1px dashed #cf6fd8;' %>
  </div>

  <div class="actions mt-3">
    <%= form.submit 'Submit Post', class: 'btn btn-purple font-weight-bold rounded-0 px-5 py-3 shadow mt-4', style: 'font-size: 1.2em' %>
  </div>
<% end %>
