<div class="my-5">
  <p id="notice"><%= notice %></p>

  <h1>Posts</h1>

  <% @posts.each do |post| %>
    <p><%= post.title %></td></p>
    <p><%= post.body %></p>
          <!--<td><%= link_to 'Show', post %></td>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
  <% end %>

  <br>

  <%= link_to 'New Post', new_post_path %>
</div>
