<div class="">
  <p id="notice"><%= notice %></p>

  <h2>My Blog</h2>

  <% @posts.each do |post| %>
    <p><%= post.title %></p>
    <p><%= post.body %></p>
          <!--<td><%= link_to 'Show', post %></td>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
  <% end %>

  <br>

  <%= link_to 'Create a New Post', new_post_path, class: 'btn btn-primary' %>
</div>
