<p id="notice"><%= notice %></p>

<h2 class="border-bottom pb-3 mb-5">
  <%= @post.title %>
</h2>

<p class="text-muted">
  <%= @post.body %>
</p>

<div>
<% if author_signed_in? %>
  <%= link_to 'Edit Post', edit_post_path(@post), class: 'mr-4 text-purple' %>
<% end %>
<%= link_to 'Back to posts', posts_path, class: 'text-purple' %>
</div>
