<p id="notice"><%= notice %></p>

<div class="">
<%= link_to '<i class="fas fa-arrow-left mr-2"></i>Back to Posts'.html_safe, posts_path, class: 'text-purple' %>
</div>

<h2 class="border-bottom pb-3 mb-4 mt-3">
  <%= @post.title %>
</h2>

<div class="mb-4 text-muted">
  <%= @post.body %>
</div>

<div>
<% if author_signed_in? %>
  <%= link_to 'Edit Post', edit_post_path(@post), class: 'mr-4 text-purple' %>
<% end %>
</div>
